/* line 7, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

/* line 13, ../sass/screen.scss */
body {
  color: #413448;
}

/* line 16, ../sass/screen.scss */
header, footer {
  height: 100px;
  background-color: #cabed5;
  text-align: center;
  padding: 20px;
  font-size: 3em;
}

/* line 23, ../sass/screen.scss */
h2 {
  text-align: center;
  font-size: 1.3em;
}

/* line 27, ../sass/screen.scss */
nav {
  position: relative;
  width: 100%;
  height: 50px;
  background: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #8181b3), color-stop(100%, #413448));
  background: -webkit-linear-gradient(to bottom, #8181b3, #413448);
  background: -moz-linear-gradient(to bottom, #8181b3, #413448);
  background: -o-linear-gradient(to bottom, #8181b3, #413448);
  background: linear-gradient(to bottom, #8181b3, #413448);
  border-top: 2px solid #413448;
}
/* line 33, ../sass/screen.scss */
nav ul {
  width: 960px;
  margin: 0 auto;
  border-left: 2px solid #413448;
}
/* line 38, ../sass/screen.scss */
nav li {
  display: inline-block;
  width: 12.5%;
  margin-right: -4px;
  text-align: center;
}
/* line 44, ../sass/screen.scss */
nav a {
  display: inline-block;
  width: 100%;
  color: #fcfbfd;
  font: 1.1em sans-serif;
  line-height: 48px;
  text-decoration: none;
  border-right: 2px solid #413448;
}
/* line 52, ../sass/screen.scss */
nav a:hover {
  background-color: #413448;
}
/* line 56, ../sass/screen.scss */
nav a:active {
  color: #cabed5;
}
/* line 60, ../sass/screen.scss */
nav form {
  position: absolute;
  top: 10px;
  left: 150px;
}
/* line 65, ../sass/screen.scss */
nav input[type="text"] {
  width: 200px;
  height: 25px;
  text-align: center;
}

/* line 71, ../sass/screen.scss */
table {
  margin: 0 auto;
  border-collapse: collapse;
  border: 1px solid #413448;
  min-width: 600px;
}

/* line 77, ../sass/screen.scss */
caption {
  margin: 20px 0 10px;
  font-size: 1.2em;
  font-weight: bold;
}

/* line 82, ../sass/screen.scss */
td, th {
  width: 80%;
  padding: 10px;
  border: 1px solid #413448;
}
/* line 86, ../sass/screen.scss */
td:first-child, th:first-child {
  width: 20%;
}
/* line 89, ../sass/screen.scss */
td span, th span {
  color: #8181b3;
}

/* line 93, ../sass/screen.scss */
hr {
  border-top: 1px solid #413448;
}

/* line 94, ../sass/screen.scss */
.content {
  padding: 20px;
  height: 587px;
  background-color: #fcfbfd;
  overflow: auto;
}

/* line 100, ../sass/screen.scss */
.active {
  background-color: #413448;
}

/* line 103, ../sass/screen.scss */
.hidden {
  display: none;
}

/* line 110, ../sass/screen.scss */
.task input[type="text"] {
  width: 200px;
  height: 25px;
  text-align: center;
  background-color: #fcfbfd;
  border: 1px solid #413448;
}

/* line 118, ../sass/screen.scss */
.ev {
  background-color: #cabed5;
}

/* line 121, ../sass/screen.scss */
footer {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 2px solid #413448;
  width: 100%;
}
